 @import "tailwindcss";
 @plugin "daisyui";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  themes: light --default;
 }



.active {
  @apply text-yellow-600 font-semibold border-b-2 border-yellow-600 pb-1 transition-all duration-300;
}
